<div>
<nav>
  <ul>
    <li><a [routerLink]="['client']">Клиенты</a></li>
    <li><a [routerLink]="['order']">Заказы</a></li>
    <li><a [routerLink]="['affilation-type']">Типы принадлежностей</a></li>
    <li><a [routerLink]="['provider']">Поставщики</a></li>
    <li><a [routerLink]="['funeral-affilation']">Похоронные принадлежности</a></li>
    <li><a [routerLink]="['employee']">Сотрудники</a></li>
    <li><a [routerLink]="['user']">Пользователи</a></li>
    <li *ngIf="window.sessionStorage.getItem('user')" (click)="logout()"><a class="logout">Выйти из аккаунта</a></li>
  </ul>
</nav>
</div>
