<div class="table">
  <table>
    <caption>Пользователи</caption>
    <thead>
    <tr>
      <th>Логин</th>
      <th colspan="1">Роли</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.login }}</td>
      <td> {{ user.roles }} </td>
      <td>
        <button class="b2" (click)="deleteById(user.id)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="under-table">
    <div class="left">
      <a [routerLink]="['./new/addition']">Добавить пользователя</a>
    </div>
    <div class="right">
      <a [routerLink]="['../']">Вернуться назад</a>
    </div>
  </div>
</div>
