<div class="upper-table">
  <a [routerLink]="['../../']">Вернуться назад</a>
</div>

<form class="form" [formGroup]="form">
  <div class="form-inner">

    <h3>Новый заказ</h3>

    <div>
      <label for="client">Клиент</label>
      <select id="client" [(ngModel)]="selectedClientId" [ngModelOptions]="{standalone: true}">
        <option [value]="client.id" *ngFor="let client of clients"> {{ client.surname + ' ' + client.name }} </option>
      </select>
    </div>

    <h2>Дата регистрации</h2>
    <div>
      <label for="registration-date">День</label>
      <input type="number" id="registration-date" formControlName="registrationDate">
    </div>

    <div>
      <label for="registration-month">Месяц</label>
      <input type="number" id="registration-month" formControlName="registrationMonth">
    </div>

    <div>
      <label for="registration-year">Год</label>
      <input type="number" id="registration-year" formControlName="registrationYear">
    </div>

    <h2>Дата назначения</h2>
    <div>
      <label for="appointment-date">День</label>
      <input type="number" id="appointment-date" formControlName="appointmentDate">
    </div>

    <div>
      <label for="appointment-month">Месяц</label>
      <input type="number" id="appointment-month" formControlName="appointmentMonth">
    </div>

    <div>
      <label for="appointment-year">Год</label>
      <input type="number" id="appointment-year" formControlName="appointmentYear">
    </div>

    <h2>Дата исполнения</h2>
    <div>
      <label for="execution-date">День</label>
      <input type="number" id="execution-date" formControlName="executionDate">
    </div>

    <div>
      <label for="execution-month">Месяц</label>
      <input type="number" id="execution-month" formControlName="executionMonth">
    </div>

    <div>
      <label for="execution-year">Год</label>
      <input type="number" id="execution-year" formControlName="executionYear">
    </div>

    <div class="btns">
      <button class="action" (click)="submit()">Сохранить</button>
    </div>
  </div>
</form>
