<form class="form" [formGroup]="form">
  <div class="form-inner">

    <h3>Вход</h3>

    <label for="login">Логин</label>
    <input type="text" id="login" formControlName="login">

    <label for="password">Пароль</label>
    <input type="password" id="password" formControlName="password">

    <div class="btns">
      <div>
        <button class="action" [disabled]="!form.valid" (click)="submit()">Войти</button>
      </div>

      <div style="float: right">
        <button class="cancel" (click)="goHome()">Отмена</button>
      </div>
    </div>

  </div>
</form>
