<div class="container">
  <div class="overlay">
    <h1>ИС Похоронного бюро `В последний путь`</h1>
    <p>
      В работе реализован функционал по чтению, добавлению, обновлению и удалению клиентов, заказов и
      похоронных принадлежностей. Также предоставляется возможность просматривать список поставщиков и
      типов похоронных принадлежностей. Связи у этих сущностей такие: сущность 'Заказ' содержит информацию
      о сущности 'Клиент', а сущность 'Похоронная принадлежность' содержит информацию о сущностях: 'Поставщик'
      и 'Тип принадлежности'.
    </p>
    <p>
      В системе также реализована регистрация и аунтефикация. Особенностью этого модуля является то, что
      случайный человек, зашедший на сайт, не имеет возможности зарегистрироваться, так как это было бы нелогично,
      потому что в таком случае он бы мог просматривать информацию о похоронном бюро, к которой он иметь доступа
      не должен. Тем не менее, так как в системе доступ к страницам распределен в зависимости от того,
      авторизован ли пользователь и от его ролей, то неавторизованный пользователь имеет возможность
      посетить эту страницу и страницу входа в систему. Пользователь может войти в систему только в том случае,
      если администратор зарегистрировал этого пользователя. Так, собственно, и реализована регистрация - пользователь
      с ролью администратора может зайти на страницу с пользователями и добавить нового, что эквивалентно регистрации
      в привычном ее понимании. В системе есть всего две роли: администратор и пользователь.
      Их главными отличиями является то, что пользователь может только просматривать основную информацию
      о сущностях системы, в то время как администратор имеет право модифицировать эту информацию, а также то,
      что только администратор наделен правом взаимодействия с информацией о других пользователях.
    </p>
    <p>
      Также в системе можно обнаружить отчет о числящихся сотрудниках, перейдя по элементам навигации: 'Система'
      > 'Сотрудники'. Не стоит расстраиваться, если вы получили сообщение о том, что вы не имеете доступа
      к этой странице. Вы не одни такие, ведь отчет о числящихся сотрудниках может формировать только пользователь
      с правами администратора.
    </p>
    <p>
      Теперь, ознакомившись с основной информацией о проекте, у вас есть возможность попытать свою удачу и понадеяться,
      что вас пустят к системным данным просто так.
    </p>
    <a [routerLink]="['/system']" class="button">Мне повезет</a>
  </div>
</div>
